body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #22343d;
    background-color: #fff;
}

/*#region Reset*/

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*#endregion Reset*/

/*#region Common*/

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.main-btn {
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 113px;
    height: 42px;
    padding: 9px 24px;

    font-weight: 600;
    color: #fff;
    background-color: #02897a;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
    color: #173a56;
    background-color: #fff;
    border-color: #bcd0e5;
}

/*#endregion Common*/

/*#region Header*/

.page-header {
    padding: 19px 0;
}

.header-container,
.header-nav,
.header-nav-list,
.auth-list {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: 76px;
    flex-grow: 1;
}

.header-logo {
    margin-right: auto;
}

.header-nav-list {
    gap: 30px;
}

.header-nav-link {
    display: block;
    padding: 7px 0;
    line-height: 1.75;

    transition: transform 250ms linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
    transform: scale(1.1);
}

.header-nav-link.current {
    font-weight: 600;
}

.auth-list {
    gap: 21px;
}

.auth-btn {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    padding: 9px 24px;

    font-weight: 600;
    font-size: 16px;
    color: #173a56;
    background-color: #fff;
}

.auth-btn:hover,
.auth-btn:focus {
    color: #fff;
    background: #02897a;
    border-color: #02897a;
}

/*#endregion Header*/

                /*#main*/

/*#region hero*/

.section-hero .container {
    display: flex;
    justify-content: space-between;
}

.section-hero {
    margin-top: 25px;
    margin-bottom: 100px;
}

.hero-content {
    margin: 112px 35px 112px 0px;
}

.hero-content-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-right: 13px;
    margin-bottom: 18px;
}

.hero-content-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-btns-section {
    display: flex;
}

.hero-btns {
    min-width: 178px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 30px;
}

.hero-btns-video {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 164px;
    height: 23px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-bottom: 15px;
    margin-top: 15px;
}

.hero-btns-video-svg:hover,
.hero-btns-video-svg:focus,
.hero-btns-video:hover,
.hero-btns-video:focus {
    color: #173a56;
    border-color: #bcd0e5;
    fill: #173a56;
}

.hero-btns-video:hover.hero-btns-video-svg { 
    fill: #173a56;
}

.hero-btns-video-svg {
    border-radius: 2px;
    fill: #02897a;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion hero*/


/*#region product*/

.section-product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    width: 539px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.section-product-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    height: 204px;
}

.section-product-item {
    width: calc((100% - 90px) / 4);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-product-svg {    
    border-radius: 19px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    margin-top: 0px;
}

.fill-svg {
    fill: #fff;
}

.cursor {
    background-color: #02897a;
}

.wave {
    background-color: #4d8dff;
}

.heart {
    background-color: #740a76;
}

.clock {
    background-color: #f03e3d;
}

.product-list-title {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
    text-align: start;
}

.product-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.section-product-btn {
    font-weight: 700;
    font-size: 16px;
    min-width: 175px;
    height: 53px;
    display: block;
    margin: 0 auto 100px auto;
}

/*#endregion product*/


                /*#region benefits*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
/*#region first benefits*/
.benefits-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.wrapper-first-content {
    display: block;
    width: 486px;
    margin-top: 41px;
    margin-bottom: 41px;
}

.benefits-wrapper-pretext {
    font-weight: 600;
    margin-bottom: 8px;
}


.benefits-wrapper-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.first-group {
    margin-bottom: 30px;
}

.benefits-wrapper-subtitle {
        font-weight: 600;
        line-height: 1.63;
}

.benefits-wrapper-text {
    font-weight: 400;
    line-height: 1.62;
}

.wrapper-first-content-list {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.first-content-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}
/*#endregion first benefits*/

/*#region two benefits*/
.wrapper-two-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 41px 35px 40px 84px;
}

.wrapper-two-content-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.two-content-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.orange {
    background-color: orange;
}

.red {
    background-color: crimson;
}

.blue {
    background-color: steelblue;
}

/*#endregion two benefits*/

/*#region three benefits*/
/*#endregion three benefits*/
                /*#endregion benefits*/

/*#region product*/
/*#endregion product*/

/*#region product*/
/*#endregion product*/

/*#region product*/
/*#endregion product*/

/*#region product*/
/*#endregion product*/

/*#region product*/
/*#endregion product*/

/*#region product*/
/*#endregion product*/

                /*#endregion main*/

                /*#region footer*/
                /*#endregion footer*/

                
        /*#resources page*/
        /*#resources page*/


                /*#section contact us*/

.contactus-container-text {
    width: 332px;
    height: 160px;
    margin-top: 108px;
    margin-bottom: 55px;
}

.contactus-container-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.01em;
    text-align: center;
    color: #374754;
    padding: 10px;
    margin-bottom: 55px;
}

.container-text-tittle {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.68;
    letter-spacing: 0.01em;
    text-align: center;
    color: #252b42;
    padding: 10px;
}
.container.contactus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-svg-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21.5px;
}

.social-svg-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    fill: #edfffc;
    display: flex;
    justify-content: center;
    align-items: center;
}


                /*#section contact us*/